.contatos{
    margin: 2px;
    margin-top: 12rem;
    height: 200px;
}

.contatos h1{
    margin-left: 40%;
    font-size: 46px;
    font-family: 'Ubuntu' Helvetica, sans-serif;
}

.contatos span{
    color: var(--color3);
}
.contato-texto{
margin-left: 20%;
}

.container-contatos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid:2rem; 
}

.contatos-img{
    display: inline;
}
.contatos-img img{
    height:60px ;
    margin: 0.8rem;
}

.footer{
    background-color: var(--color1);
    width: 100%;
}

.footer h3{
    color: var(--color5);
    margin-left: 40%;
}

@media (max-width:520px ){

    .contatos{
        margin: 2px;
        margin-top: 6rem;
        height: 300px;
    }
    
    .contatos h1{
        margin-left: 40%;
        font-size: 24px;
    }
    .container-contatos{
        display: grid;
        grid-template-columns: 1fr ;
        grid:2rem; 
        height: auto;
    }
       
    .contato-texto{
        margin-left: 5%;
        }

        .footer h3{
            color: var(--color5);
            margin-left: 30%;
        }
}