@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Roboto:ital,wght@1,300&family=Spectral:wght@700&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Spectral:wght@700&family=Ubuntu:ital@1&display=swap');

:root{
    --color1 : #000000;
    --color2 : #192542;
    --color3 : #475b93;
    --color4 : #7f97f1;
    --color5 :#eaf0f8;
    }
    
    
    .cor-1{
        color: var(--color1);
    }
    
    .cor-2{
        color: var(--color2);
    }
    
    .cor-3{
        color: var(--color3);
    }
    
    .cor-4{
        color: var(--color4);
    }
    
    .cor-5{
        color: var(--color5);
    }



    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        }
        @keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        } 

        
          
         
              