body{
    margin: 0;
    box-sizing: border-box;
}
a{
    list-style: none;
    text-decoration: none;
}

header{
height: 3rem;
} 

nav{
    background-color: var(--color1);
    overflow: hidden;
    position: fixed;
    width: 100%;
}
nav li{
    display: inline;
     margin-left: 2rem;    
}

.nav li a{
    color: var(--color5);
    font-size: 1.5rem;
}



.inicio{

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    gap:10px
}

.inicio img{
    height: 460px;
    margin-top: 2rem;
    -webkit-border-top-left-radius: 50px;
-webkit-border-top-right-radius: 50px;
-webkit-border-bottom-right-radius: 160px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-topright: 50px;
-moz-border-radius-bottomright: 160px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-right-radius: 160px;
border-bottom-left-radius: 5px;
}

.inicio-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.eu{
    margin: 6rem;
    margin-top: 12rem;
}

.eu h1{
    margin-left: 40%;
    font-size: 46px;
}

.eu span{
    color: var(--color3);
}

.eu p{
    font-size: 22px;
    background-color: var(--color5);
}